* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
address,
article,
aside,
audio,
blockquote,
canvas,
div,
dl,
dt,
dd,
embed,
fieldset,
figcaption,
figure,
footer,
form,
header,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
iframe,
label,
legend,
li,
main,
nav,
ol,
pre,
section,
small,
ul,
video {
  display: block;
  width: 100%;
  position: relative;
  float: left;
}
a,
abbr,
b,
button,
cite,
code,
dfn,
em,
i,
input,
mark,
q,
select,
span,
strong,
sub,
sup,
textarea {
  display: inline;
}
p {
  display: inline-block;
  width: 100%;
}
a,
:focus {
  outline: 0;
}
a img,
img,
:link img,
:visited img,
:focus img {
  border: 0;
  outline: 0;
}
:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
::selection {
  text-shadow: none;
}
::-moz-selection {
  text-shadow: none;
}
blockquote,
q {
  quotes: none;
}
li {
  display: list-item;
  list-style: none inside none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
iframe {
  height: 100%;
}
sub,
sup {
  line-height: 0;
}
body textarea,
select[multiple] {
  height: auto;
}
fieldset {
  border: 0;
}
textarea {
  resize: vertical;
  width: 100%;
  padding-bottom: 0.6em;
}
label,
textarea {
  vertical-align: top;
}
input[type="radio"],
input[type="checkbox"] {
  width: auto !important;
  height: auto;
  cursor: pointer;
}
input[type="file"] {
  width: auto;
  cursor: pointer;
}
input[type="search"] {
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}
html {
  font: 62.5% Helvetica, Arial, Sans-Serif;
}
body {
  line-height: 1.5;
}
body,
input,
button {
  -webkit-font-smoothing: antialiased;
}
code,
pre {
  font-family: monospace, serif;
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1;
  text-align: left;
}
div {
  text-align: left;
}
p {
  text-align: justify;
}
em,
i {
  font-weight: normal;
  font-style: normal;
}
legend,
strong {
  font-weight: bold;
}
.button,
button {
  background-color: transparent;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  text-align: center;
  padding: 0 1.2em;
  cursor: pointer;
  color: inherit;
  border: none;
  width: auto;
  outline: 0;
  overflow: visible;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.button.looser,
button.looser {
  padding: 0 3.6em;
}
.button.loose,
button.loose {
  padding: 0 2.4em;
}
.button,
button {
  padding: 0 1.2em;
}
.button.tight,
button.tight {
  padding: 0 0.6em;
}
.button.tighter,
button.tighter {
  padding: 0 0.3em;
}
.button.none,
button.none {
  padding: 0;
}
.button.hide,
button.hide,
.button[hidden],
button[hidden] {
  display: none;
}
.input,
input,
textarea {
  height: 32px;
  padding: 0 0.6em;
  font-size: 1em;
  line-height: 30px;
  width: 100%;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.input.error,
input.error,
textarea.error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
.input.warning,
input.warning,
textarea.warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
.input.success,
input.success,
textarea.success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
.input.info,
input.info,
textarea.info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
.uno label.wide {
  width: 100%;
}
.uno label.medium {
  width: 50%;
}
.uno label.fixed {
  width: 12em;
}
.uno label.short {
  width: 5em;
}
.uno label.shorter {
  width: 3em;
}
.uno label.auto {
  width: auto;
}
.link,
a {
  background-color: transparent;
  text-decoration: none;
  display: inline;
  cursor: pointer;
  width: auto;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.select,
select {
  height: 32px;
  padding: 0 0.6em;
  line-height: 30px;
  font-size: 1em;
  width: 100%;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}
.select.error,
select.error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
.select.warning,
select.warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
.select.success,
select.success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
.select.info,
select.info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
table {
  min-width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  float: left;
}
table thead tr th,
table thead tr th a {
  font-weight: bold;
  white-space: nowrap;
}
table thead tr th.wrap,
table thead tr th.wrap a {
  white-space: normal;
}
table thead tr th,
table tfoot tr td {
  text-align: left;
  vertical-align: top;
}
table thead tr th[colspan] {
  text-align: center;
}
.indent > li > ul,
.indent > li > ol {
  padding-left: 1em;
}
ul.circle li,
ol.circle li {
  list-style-type: circle;
}
ul.square li,
ol.square li {
  list-style-type: square;
}
ul.disc li,
ol.disc li {
  list-style-type: disc;
}
ul.decimal li,
ol.decimal li {
  list-style-type: decimal;
}
ul.decimal li,
ol.decimal li {
  list-style-type: decimal;
}
ul.none li,
ol.none li {
  list-style-type: none;
}
.sprite {
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
.sprite:before {
  content: '';
  text-indent: 0;
  margin: 0 .3em 0 0;
  text-align: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  float: none;
}
.ssprite {
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
.ssprite:after {
  content: '';
  text-indent: 0;
  margin: 0 0 0 .3em;
  text-align: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  float: none;
}
.icon {
  min-width: 1.2em;
  min-height: 1.2em;
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
.icon:before {
  content: '';
  text-indent: 0;
  margin: 0 .3em 0 0;
  text-align: center;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  float: none;
}
.sufix {
  min-width: 1.2em;
  min-height: 1.2em;
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
.sufix:after {
  content: '';
  text-indent: 0;
  margin: 0 0 0 .3em;
  text-align: center;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  float: none;
}
.icon:before,
.sufix:after {
  font: 1em / 1em a;
  font-family: 'FontAwesome';
  color: inherit;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.disabled {
  cursor: disabled;
}
.fixed {
  position: fixed;
}
.hide,
[hidden] {
  display: none;
}
.invisible {
  visibility: hidden;
}
.inline {
  display: inline;
  width: auto;
  float: none;
}
.inline-block {
  display: inline-block;
  width: auto;
  float: none;
}
.nomargin {
  margin: 0;
}
.nowrap {
  white-space: nowrap;
}
.show {
  display: block;
}
.upper,
.uppercase {
  text-transform: uppercase;
}
.button.close {
  height: 24px;
  padding: 0 0.3em;
  top: 3px;
  right: 8px;
  bottom: auto;
  left: auto;
  position: absolute;
  font: 21px / 22px a;
  font-family: inherit;
  text-shadow: 0 1px #ffffff 1;
}
.form li {
  margin-top: 0.2em;
}
.form li > strong {
  display: block;
  float: left;
  line-height: 1.25;
}
.form li > div {
  float: right;
}
.form li > div > span {
  display: inline-block;
  float: left;
}
.form li > div label {
  margin-bottom: 1em;
}
.form li > div label label {
  width: 100% !important;
  margin: 0 !important;
  font: 0.96em a;
  font-family: inherit;
}
.form li > strong,
.form li > div > span {
  padding: 0.4em 0.6em 0.2em 0.2em;
}
.form li > strong span,
.form li > div label span {
  display: block;
  width: 100%;
  position: relative;
  float: left;
  font: 0.96em a;
  font-family: inherit;
}
@media print, screen and (min-width: 480px) {
  .form.horizontal li > strong {
    width: 36%;
  }
  .form.horizontal li > div {
    width: 64%;
  }
}
@media print, screen and (min-width: 640px) {
  .form.horizontal li > strong {
    width: 18%;
  }
  .form.horizontal li > div {
    width: 82%;
  }
}
@media print, screen and (min-width: 480px) {
  .form.horizontal .col-2 li > strong {
    width: 36%;
  }
  .form.horizontal .col-2 li > div {
    width: 64%;
  }
}
@media print, screen and (min-width: 640px) {
  .form.horizontal .col-2 li > strong {
    width: 35.6%;
  }
  .form.horizontal .col-2 li > div {
    width: 63.4%;
  }
}
@media print, screen and (min-width: 480px) {
  .form.horizontal .col-3 li > strong {
    width: 36%;
  }
  .form.horizontal .col-3 li > div {
    width: 64%;
  }
}
@media print, screen and (min-width: 640px) {
  .form.horizontal .col-3 li > strong {
    width: 56%;
  }
  .form.horizontal .col-3 li > div {
    width: 44%;
  }
}
.tabset > .summary {
  display: inline-block;
  width: auto;
  float: none;
}
.tabset > .summary + .details {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}
.tabset > .summary.active + .details {
  position: relative;
  clip: rect(auto, auto, auto, auto);
}
.tabset > .summary a {
  display: block;
  width: 100%;
  position: relative;
  float: left;
  padding: 0 0.5em 0;
  font: 1em / 35px a;
  font-family: inherit;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 640px) {
  .tabset > .summary a {
    padding: 0 1em 0;
  }
}
@media screen and (min-width: 800px) {
  .tabset > .summary a {
    padding: 0 2em 0;
  }
}
.panel.error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
.panel.warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
.panel.success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
.panel.info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
.panel .heading {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: .4em 1em;
}
.panel input[type="text"] {
  border-width: 0;
  border-style: solid;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  padding: 0;
  font-size: 1.1em;
}
.buttons {
  text-align: right;
}
.buttons button,
.buttons .button {
  width: auto;
  min-width: 100%;
  margin: 0 0 0.6em;
}
@media only screen and (min-width: 480px) {
  .buttons button,
  .buttons .button {
    min-width: 21%;
    margin-left: 0.6em;
  }
  .buttons button:first-child,
  .buttons .button:first-child {
    margin-left: 0;
  }
}
.buttons.left {
  text-align: left;
}
.buttons.center {
  text-align: center;
}
.buttons.right {
  text-align: right;
}
.buttons .icon:before,
.buttons .sufix:after {
  font-size: 1.6em;
}
.navmenu h2 {
  padding: 1em 0 0.3em;
}
.navmenu > ul li {
  padding: 0.6em 0;
}
.navmenu li:after {
  top: 1.8em;
}
.navmenu li a {
  display: block;
  width: 100%;
  position: relative;
  float: left;
}
.navmenu li ul {
  padding: 0em 0 0 1em;
}
.navmenu li ul li:last-child {
  padding-bottom: 0;
}
.sufix.summary:after {
  content: "\f105";
}
.sufix.summary.active:after {
  content: "\f107";
}
.message {
  padding: 0.6em 1.25em 0.6em;
  background-color: #eeeeee;
  font-size: 0.9em;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  margin-bottom: 0.6em;
}
.message.error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
.message.warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
.message.success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
.message.info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
  -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  -moz-box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
  box-shadow: 0 0 rgba(255, 255, 255, 0.5) ;
}
.pagination .results {
  width: auto;
  line-height: 40px;
  margin-bottom: 15px;
  float: left;
}
.pagination .pages {
  width: auto;
  float: right;
}
.pagination .pages span,
.pagination .pages a {
  width: auto;
  height: 35px;
  line-height: 35px;
  min-width: 35px;
  text-align: center;
  padding: 0 .6em;
  float: left;
}
.breadcrumb li {
  width: auto;
  padding: 6px 0 6px 14px;
  font-size: 12px;
  line-height: 20px;
}
.breadcrumb li a {
  display: block;
  width: 100%;
  float: left;
  padding-right: 14px;
  min-width: 16px;
  min-height: 16px;
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
.breadcrumb li a:after {
  content: '/';
  text-indent: 0;
  margin: 0 0 0 .3em;
  text-align: center;
  display: inline-block;
  width: 16px;
  height: 16px;
  float: none;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  right: 0;
}
.dropdown li {
  width: auto;
}
.dropdown > ul > li {
  display: block;
}
.dropdown ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.dropdown ul ul ul {
  position: absolute;
  top: 0;
  left: 100%;
}
.dropdown li:hover > ul {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.dropdown > ul {
  margin-bottom: 15px;
}
.dropdown li > a {
  display: block;
  width: 100%;
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 20px;
  min-width: 120px;
  text-align: center;
}
@media print, screen and (min-width: 1200px) {
  .col-2 > .unit,
  .col-2 > li,
  .col-2 > div,
  .col-2 > label {
    width: 50%;
    margin-left: 0;
  }
}
@media print, screen and (min-width: 1200px) {
  .col-3 > .unit,
  .col-3 > li,
  .col-3 > div,
  .col-3 > label {
    width: 33.333%;
    margin-left: 0;
  }
}
@media print, screen and (min-width: 640px) {
  .col-4 > .unit,
  .col-4 > li,
  .col-4 > div,
  .col-4 > label {
    width: 50%;
    margin-left: 0;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-4 > .unit,
  .col-4 > li,
  .col-4 > div,
  .col-4 > label {
    width: 25%;
    margin-left: 0;
  }
}
@media print, screen and (min-width: 640px) {
  .col-5 > .unit,
  .col-5 > li,
  .col-5 > div,
  .col-5 > label {
    width: 33.333%;
    margin-left: 0;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-5 > .unit,
  .col-5 > li,
  .col-5 > div,
  .col-5 > label {
    width: 20%;
    margin-left: 0;
  }
}
@media print, screen and (min-width: 640px) {
  .col-5 > .linebreak,
  .col-5 > :first-child {
    width: 66.667%;
    margin-left: 0;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-5 > .linebreak,
  .col-5 > :first-child {
    width: 20%;
    margin-left: 0;
  }
}
@media print, screen and (min-width: 640px) {
  .col-6 > .unit,
  .col-6 > li,
  .col-6 > div,
  .col-6 > label {
    width: 33.333%;
    margin-left: 0;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-6 > .unit,
  .col-6 > li,
  .col-6 > div,
  .col-6 > label {
    width: 16.667%;
    margin-left: 0;
  }
}
@media print, screen and (min-width: 640px) {
  .col-2.split > .unit,
  .col-2.split > li,
  .col-2.split > div,
  .col-2.split > label {
    width: 49%;
    margin-left: 2%;
  }
}
@media print, screen and (min-width: 640px) {
  .col-3.split > .unit,
  .col-3.split > li,
  .col-3.split > div,
  .col-3.split > label {
    width: 32%;
    margin-left: 2%;
  }
}
@media print, screen and (min-width: 640px) {
  .col-4.split > .unit,
  .col-4.split > li,
  .col-4.split > div,
  .col-4.split > label {
    width: 49%;
    margin-left: 2%;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-4.split > .unit,
  .col-4.split > li,
  .col-4.split > div,
  .col-4.split > label {
    width: 23.5%;
    margin-left: 2%;
  }
}
@media print, screen and (min-width: 640px) {
  .col-5.split > .unit,
  .col-5.split > li,
  .col-5.split > div,
  .col-5.split > label {
    width: 32%;
    margin-left: 2%;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-5.split > .unit,
  .col-5.split > li,
  .col-5.split > div,
  .col-5.split > label {
    width: 18.4%;
    margin-left: 2%;
  }
}
@media print, screen and (min-width: 640px) {
  .col-5.split > .linebreak,
  .col-5.split > :first-child {
    width: 66%;
    margin-left: 2%;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-5.split > .linebreak,
  .col-5.split > :first-child {
    width: 18.4%;
    margin-left: 2%;
  }
}
@media print, screen and (min-width: 640px) {
  .col-6.split > .unit,
  .col-6.split > li,
  .col-6.split > div,
  .col-6.split > label {
    width: 32%;
    margin-left: 2%;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-6.split > .unit,
  .col-6.split > li,
  .col-6.split > div,
  .col-6.split > label {
    width: 15%;
    margin-left: 2%;
  }
}
.grid > .span-1 {
  width: 100%;
  margin-left: 0;
}
@media print, screen and (min-width: 640px) {
  .col-3 > .span-2 {
    width: 66.667%;
    margin-left: 0;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-4 > .span-2 {
    width: 50%;
    margin-left: 0;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-4 > .span-3 {
    width: 75%;
    margin-left: 0;
  }
}
@media print, screen and (min-width: 640px) {
  .col-5 > .span-2 {
    width: 66.667%;
    margin-left: 0;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-5 > .span-2 {
    width: 40%;
    margin-left: 0;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-5 > .span-3 {
    width: 60%;
    margin-left: 0;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-5 > .span-4 {
    width: 80%;
    margin-left: 0;
  }
}
@media print, screen and (min-width: 640px) {
  .col-6 > .span-2 {
    width: 66.667%;
    margin-left: 0;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-6 > .span-2 {
    width: 33.333%;
    margin-left: 0;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-6 > .span-3 {
    width: 50%;
    margin-left: 0;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-6 > .span-4 {
    width: 66.667%;
    margin-left: 0;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-6 > .span-5 {
    width: 83.333%;
    margin-left: 0;
  }
}
@media print, screen and (min-width: 640px) {
  .col-3.split > .span-2 {
    width: 66%;
    margin-left: 2%;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-4.split > .span-2 {
    width: 49%;
    margin-left: 2%;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-4.split > .span-3 {
    width: 74.5%;
    margin-left: 2%;
  }
}
@media print, screen and (min-width: 640px) {
  .col-5.split > .span-2 {
    width: 66%;
    margin-left: 2%;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-5.split > .span-2 {
    width: 38.8%;
    margin-left: 2%;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-5.split > .span-3 {
    width: 59.2%;
    margin-left: 2%;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-5.split > .span-4 {
    width: 79.6%;
    margin-left: 2%;
  }
}
@media print, screen and (min-width: 640px) {
  .col-6.split > .span-2 {
    width: 66%;
    margin-left: 2%;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-6.split > .span-2 {
    width: 32%;
    margin-left: 2%;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-6.split > .span-3 {
    width: 49%;
    margin-left: 2%;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-6.split > .span-4 {
    width: 66%;
    margin-left: 2%;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .col-6.split > .span-5 {
    width: 83%;
    margin-left: 2%;
  }
}
.uno .grid.split > :first-child,
.uno .grid > :first-child,
.uno .grid > .linebreak {
  margin-left: 0;
  clear: left;
}
.hint {
  position: relative;
}
.hint:before,
.hint:after {
  position: absolute;
  content: '';
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 2;
  display: none\9;
}
.hint:hover:before,
.hint:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
  display: block\9;
}
.touch .hint:hover:before,
.touch .hint:hover:after {
  display: none;
}
.hint:after {
  content: attr(data-hint);
  padding: 7px 14px;
  background-color: #333333;
  pointer-events: none;
  white-space: nowrap;
  font: 14px / 1.2 a;
  font-family: inherit;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.hint.wrap:before,
.hint.wrap:after {
  white-space: normal;
  text-align: left;
  min-width: 160px;
}
.hint.fixed:before,
.hint.fixed:after {
  opacity: 1;
  filter: alpha(opacity=100);
  display: block\9;
}
.hint.top:before {
  margin-bottom: -8px;
  border-width: 4px;
  border-style: solid;
  border-color: #333333 transparent transparent;
}
.hint.top:after {
  margin-left: -1em;
}
.hint.top:before,
.hint.top:after {
  bottom: 100%;
  left: 50%;
}
.hint.top:hover:before,
.hint.top:hover:after {
  -webkit-transform: translate(0, -4px);
  -moz-transform: translate(0, -4px);
  -ms-transform: translate(0, -4px);
  -o-transform: translate(0, -4px);
  transform: translate(0, -4px);
}
.hint.bottom:before {
  margin-top: -8px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent #333333;
}
.hint.bottom:after {
  margin-left: -1em;
}
.hint.bottom:before,
.hint.bottom:after {
  top: 100%;
  left: 50%;
}
.hint.bottom:hover:before,
.hint.bottom:hover:after {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
.hint.right:before {
  margin-left: -8px;
  margin-bottom: 0;
  border-width: 4px;
  border-style: solid;
  border-color: transparent #333333 transparent transparent;
}
.hint.right:after {
  margin-bottom: -1em;
}
.hint.right:before,
.hint.right:after {
  left: 100%;
  bottom: 50%;
}
.hint.right:hover:before,
.hint.right:hover:after {
  -webkit-transform: translate(6px, 0);
  -moz-transform: translate(6px, 0);
  -ms-transform: translate(6px, 0);
  -o-transform: translate(6px, 0);
  transform: translate(6px, 0);
}
.hint.left:before {
  margin-right: -8px;
  margin-bottom: 0;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent transparent #333333;
}
.hint.left:after {
  margin-bottom: -1em;
}
.hint.left:before,
.hint.left:after {
  right: 100%;
  bottom: 50%;
}
.hint.left:hover:before,
.hint.left:hover:after {
  -webkit-transform: translate(-6px, 0);
  -moz-transform: translate(-6px, 0);
  -ms-transform: translate(-6px, 0);
  -o-transform: translate(-6px, 0);
  transform: translate(-6px, 0);
}
@media print {
  a {
    text-decoration: underline;
  }
  html,
  article,
  article > section {
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    background-position: left top;
    margin: 0;
    padding: 0;
  }
  header,
  article {
    width: 100%;
  }
  div {
    page-break-inside: auto;
    page-break-after: avoid;
  }
  table .icon {
    text-indent: 0;
    padding: 0;
  }
  .scrollable,
  .scrollable div {
    overflow-x: visible;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .print-only {
    display: block;
  }
  header,
  nav,
  footer,
  .breadcrumb,
  .buttons,
  .filters,
  .message,
  .icon.navmenu,
  .no-print {
    display: none;
  }
}
.scrollable {
  overflow: hidden;
}
.scrollable div {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.scrollable div > table {
  margin: 0;
}
.scrollable.has-scroll:before {
  position: absolute;
  top: 0;
  left: 100%;
  width: 50px;
  height: 100%;
  border-radius: 10px 0 0 10px;
  box-shadow: -5px 0 7px rgba(0, 0, 0, 0.15);
  content: '';
  z-index: 1;
}
.scrollable > div::-webkit-scrollbar {
  height: 12px;
}
.scrollable > div::-webkit-scrollbar-track {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15) inset;
  background: #f0f0f0;
}
.scrollable > div::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #ccc;
  z-index: 9999;
}
@media screen and (min-width: 1025px) {
  .l-logged main,
  .l-logged footer {
    padding-left: 275px;
    margin-left: -275px;
  }
  .l-logged nav {
    width: 275px;
    z-index: 2;
  }
  .l-logged footer {
    float: right;
  }
}
.js-toggle .l-logged header,
.js-toggle .l-logged main,
.js-toggle .l-logged footer {
  -webkit-transform: translate(275px, 0);
  -moz-transform: translate(275px, 0);
  -ms-transform: translate(275px, 0);
  -o-transform: translate(275px, 0);
  transform: translate(275px, 0);
}
.js-toggle.touch .l-logged {
  position: fixed;
}
.l-logged nav {
  position: absolute;
}
.l-logged header,
.l-logged main,
.l-logged footer {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
}
.l-logged nav {
  width: 275px;
  height: 100%;
}
@media screen and (min-width: 1025px) {
  .js-toggle .l-logged header,
  .js-toggle .l-logged main,
  .js-toggle .l-logged footer {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .l-logged nav {
    position: relative;
  }
}
.l-logged main > section {
  min-height: 100%;
}
